#photos {
    position: absolute;
    display:table;
    margin-top: 5px;
    left: 25vw;
    top: 0px;
    width: 95vh;
    height: 95vh
}
#seed {
    width: 24vw;
    word-wrap: break-word;
}

.ore {
    margin: 0px 0px 0px 0px
}

#mineFinder {
    position: absolute;
    width: 5vw;
    height: 5vh;
    left: 95vw;
    top: 0px;
    background-color: black;
    color:white;
    text-align: center;
}